@font-face {
  font-family: "AirBd";
  src: local("AirbnbBold"),
    url("../style/fonts/AirbnbCereal_W_Bd.otf") format("opentype");
}

@font-face {
  font-family: "AirBk";
  src: local("AirbnbBold"),
    url("../style/fonts/AirbnbCereal_W_Bk.otf") format("opentype");
}
@font-face {
  font-family: "AirBlk";
  src: local("AirbnbBold"),
    url("../style/fonts/AirbnbCereal_W_Blk.otf") format("opentype");
}
@font-face {
  font-family: "AirLt";
  src: local("AirbnbBold"),
    url("../style/fonts/AirbnbCereal_W_Lt.otf") format("opentype");
}
@font-face {
  font-family: "AirMd";
  src: local("AirbnbBold"),
    url("../style/fonts/AirbnbCereal_W_Md.otf") format("opentype");
}
@font-face {
  font-family: "AirXbd";
  src: local("AirbnbBold"),
    url("../style/fonts/AirbnbCereal_W_XBd.otf") format("opentype");
}

.font-bnb {
  font-family: "AirBk";
  color: #2e266f;
  font-style: normal !important;
  font-weight: 400 !important ;
  font-size: 72px !important;
}
.cardFooter {
  text-align: center;
  background-color: #efc81a !important;
  padding: 40px;
}
.container-footer {
  background-color: #efc81a !important;
}

.jumbroton-popular {
  height: 100vh;
}
.col-popular {
  height: 70vh;
  margin-top: 5vh;
  float: left;
  display: flex;
  flex-direction: row;
  position: relative;
}
.col-popular-footer {
  height: 100vh;
  margin-top: -1vh;
  padding: 1%;
  padding-bottom: 50%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
}
.col-pg {
  background-color: #efc81a !important;
  color: #efc81a !important;
}

 
.card-pop{
  display: inline-block;
  border: none;
  background: none;
  overflow: hidden;
}

.banner-pop {
  border-left: 15px solid #efc81a !important;
  color: #2e266f;
  font-family: "AirBd";
  background: none;
  border: none;
  margin-left: 8vw;
  margin-top: 5vh;
}
@media only screen and (max-width: 600px) {
  .banner-pop {
    border-left: 15px solid #efc81a !important;
    margin-left: 2vw;
    margin-top: 3vh;
    min-height: 10px;
  }
}
.row-popular{
  border: 1px solid #efc81a ;
  width: 80vw;
  height: 50vh;
  position: relative;
}
.row-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.banner-pop-footer {
  border-left: 15px solid #efc81a !important;
  color: #2e266f;
  font-family: "AirBd";
  background: none;
  border: none;
  margin-left: 3vw;
}
.img-pop{
  width: 15rem;
  height: 13rem;

}
.col-pagi{
  background-color: #efc81a;
  color: #2e266f;
}
.total{
  margin-left: 16vh;
  font-family: "AirBk";
}
.col-page{
  color: #2e266f;
}
.col-search:hover{
  background-color: #2e266f;
}
.col-search{
  background-color: #efc81a;
  border: none;
}
.width-search{
  width: 40vh;
}
.bottom-left {
  position: absolute;
  bottom: 5vh;
  left: -2vw;
}
.bottom-left-small {
  position: absolute;
  bottom: 3vh;
  left: 2vw;
  color: #ffffff;
  font-family: "AirBk";
}
.container-detail {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  background: none;
}

.button-profile {
  width: 20vw;
  margin: 1%;
  background-color: #e7e7e7;
  color: #666666;
  border: none;
}
.icon-pen {
  color: #efc81a;
}
.pen-profile {
  font-family: "AirBk";
  color: #efc81a !important;
  text-align: center;
  height: max-content;
  margin-top: 34vh;
  margin-left: -3vw;
  border: none;
  background: none;
}
.color-bar {
  font-family: "AirBk";
  color: #666666 !important;
}
.name-profile {
  position: absolute;
  font-family: "AirBk";
  margin-top: 45vh;
  margin-left: -2vw;
}
.image-recipe {
  width: 50%;
  max-width: 40vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-profile {
  width: 50%;
  max-width: 50vw;
  padding-bottom: 10vh;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.image-profile {
  width: 15rem;
  border-radius: 50%;
}
.button-video {
  display: flex;
  flex-direction: column;
  width: 20vw;
}
.button-modal {
  width: 10vw;
  height: 8vh;
  margin: 2%;
  padding-top: 1%;
  background-color: #efc81a;
  border: none;
}

.bottom-left {
  position: absolute !important;
  color: #fff5ec;
  margin-top: 52vh;
  margin-left: 4vw;
}
.bottom-pop {
  position: absolute !important;
  color: #fff5ec;
  margin-top: 32vh;
  margin-left: 2vw;
  z-index: 1;
  font-family: "Airbd";
}
.col-grid {
  height: 100vh;
}
.banner {
  z-index: 2 !important;
}
.textFooterTop {
  color: #707070 !important;
}
.textFooterButtom {
  font-family: "AirBk";
  padding-top: 7%;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.button-logout {
  font-family: "AirBk";
  width: 10vw;
  padding: 10px 10px !important;
  margin-left: 1vw;
  background-color: #2e266f !important;
}
.textFooterButtomSmall {
  font-family: "AirBk";
  padding: 3%;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #efc81a !important;
}
.container-Small {
  background-color: #efc81a !important;
}

.textColorFooter {
  color: #707070 !important;
}

.container-pagehome {
  /* overflow: hidden; */
  position: absolute;
  height: 120vh;
  background-color: #fff5ec;
  z-index: -1;
}
.container-white {
  overflow: hidden;
  position: fixed;
  height: 100vh;
  background-color: #ffffff;
  z-index: -1;
}
.container-line-yellow {
  overflow: hidden;
  position: fixed;
  height: 100vh;
  background-color: #ffffff;
  z-index: -1;
}
.container-full-white {
  overflow: hidden;
  position: fixed;
  height: 100vh;
  background-color: #ffffff;
  z-index: -1;
}
.colorGW {
  background-color: #efc81a !important;
}
.nav-login {
  font-family: "AirBk";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  color: #ffffff !important;
}
.colorNav {
  font-family: "AirBk";
  color: #2e266f !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}
input#file {
  display: inline-block;
  width: 100%;
  padding: 120px 0 0 0;
  height: 100px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('https://cdn0.iconfinder.com/data/icons/video-edit-tools/32/add_picture_images_gallery_selection_album_portfolio-1024.png') center center no-repeat #F6F5F4;
  border-radius: 20px;
  background-size: 60px 60px;
}
input#file-video{
  display: inline-block;
  width: 100%;
  padding: 120px 0 0 0;
  height: 100px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-size: 60px 60px;
}
.btn-bar:hover{
  font-family: "AirBk";
  color: #ffffff;
  background-color: #2e266f;
}
.pen-profile {
  font-family: "AirBk";
  color: #efc81a !important;
  text-align: center;
}
.colorNav:hover {
  text-decoration-line: underline;
}
.colorNav:active {
  text-decoration-line: underline;
}
.bg-yellow {
  margin-left: -1%;
  height: 75vh;
  position: absolute;
  background-color: #efc81a;
  border-radius: 0rem;
}

.lineNew {
  width: 6vw;
  height: 2px !important;
  background-color: #3f3a3a !important;
}
.bg-nav{
  background-color: #efc81a;
  border-radius: 0px 0px 10px 10px;
}
.mt-row{
  margin-top: -5%;
}
.bg-pop {
  background-color: #fff5ec;
  margin-top: -5vh;
  padding-top: 2vh;
}
.bg-new {
  background-color: #fff5ec;
  margin-top: -5vh;
}
.bg-white {
  background-color: #ffffff;
}
.btn-new {
  background-color: #efc81a;
  color: #fff5ec;
  border: none;
}
.navbar-mobile{
  border-radius: 20px 20px 0px 0px;
  background-color:#FEFEFE !important;
  height: 20vh;
  width: 0;
  width: -webkit-fill-available;
}
.btn-mobile{
  font-family: "AirBk";
  background-color:  #E5E5E5;
  color: #efc81a;
  width: 23vw;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-left: 7px;
  padding-right: 5px;
  padding-top: 16px;
  border: none;
  border-radius: 15px;
  margin: 1%;
  position: relative;
  overflow: hidden;
  height: 7vh;  
}

.btn-mobile .icon {
  color: #6E80B0;
}
.btn-mobile:hover {
  background-color: #efc81a;
  color: #6E80B0;
}
.img-mobile{
  width: 8rem;
  border-radius: 10px !important;
}
.container-mobile{
  width: 93vw;
  border-radius: 10px;
  margin-left: 2vw;
}
.footer-title{
  font-family: "Airbk";
  color: #B6B6B6;
  margin-top: 1vh;
}
.title-mobile{
  margin-top: 1vh;
  font-family: "AirBd";
  color: #666666;
}
.rating-mobile{
  color: #efc81a;
}
.search-mobile{
  height: 23vh;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.search-mobile .search{
  background-color: #EFEFEF;
  width: 80vw;
  height: 8vh;
  border-radius: 10px;
}
.form-mobile{
  margin-top: 13vh;
  overflow: hidden;
}
.rating-mobile small{
  margin-left: 2vw;
  font-family: "airBd";
  color:#666666 ;
}
.over-scroll{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  max-width: 83vw;
}
.over-scroll::-webkit-scrollbar {
  display: none;
}
.card-titleNew {
  font-size: 48px;
  color: #3f3a3a;
}
.btn-new:hover {
  background-color: green;
  color: #fff5ec;
  border: none;
}

.col-template {
  background-color: #efc81a !important;
  height: 120vh !important;
  z-index: 3 !important;
}
.col-line-yellow {
  background-color: #efc81a;
}
.col-template-full-white {
  background-color: #ffffff;
}

.yellow-front {
  /* background-color: #2E266F; */
}
.col-template-full-color {
  margin-top: -50px;
  background-color: #fff5ec;
}
.col-templatee {
  background-color: #fff5ec;
}
.col-template-8 {
  width: 90vw;
}
.col-template-1 {
  width: 70px;
}
.col-template-2 {
  width: 20vw;
  z-index: -1;
}
.col-login {
  background: url("../style/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 10px 10px 10px #666666;
}
.col-login-1 {
  font-family: "AirBk";
  color: #696f79;
  border-radius: 0px 20px 20px 0px;
  font-size: 14px;
  background-color: #ffffff;
  overflow: hidden;
  width: 27vw !important;
  padding: 2%;
  box-shadow: 10px 10px 10px #666666;
}
.mini-text {
  font-size: 12px !important;
}
.title-login {
  color: #efc81a;
  font-family: "AirBlk";
}
.hr-title {
  margin-bottom: -1vh;
}
.hr-md {
  margin-top: -1vh;
}
.title-text {
  font-size: 12px;
}
.label-login {
  float: left;
  font-size: 13px;
  margin-bottom: -1px !important;
  line-height: 30px;
}
.botton-x {
  background-color: #efc81a !important;
  border-style: none !important;
  border-radius: 10px;
  font-size: 14px !important;
  color: #ffffff;
  width: 23vw;
  height: 7vh;
  margin-top: -1px;
}
.botton-x:hover {
  background: -webkit-linear-gradient(top left, #e7e698, #c9def1);
}
.custom-bg {
  height: 100vh;
  margin-top: -1px; /* Created with https://www.css-gradient.com */
  /* Created with https://www.css-gradient.com */
  background: #fff5ec;
  background: -webkit-linear-gradient(bottom right, #fff5ec, #efc81a);
  background: -moz-linear-gradient(bottom right, #fff5ec, #efc81a);
  background: linear-gradient(to top left, #fff5ec, #efc81a);
}
.custom-bg-xl {
  height: 120vh;
  margin-top: -1px; /* Created with https://www.css-gradient.com */
  /* Created with https://www.css-gradient.com */
  background: #fff5ec;
  background: -webkit-linear-gradient(bottom right, #fff5ec, #efc81a);
  background: -moz-linear-gradient(bottom right, #fff5ec, #efc81a);
  background: linear-gradient(to top left, #fff5ec, #efc81a);
}
.hr-login {
  width: 20vw;
  margin-left: 1vw;
  margin-top: -2% !important;
  line-height: 1px !important;
  margin-bottom: 3%;
}
.input-login {
  font-size: 12px !important;
  font-family: "AirBk";
}
.input-login:focus {
  font-size: 12px !important;
  font-family: "AirBk";
  border: 2px solid #efc81a !important;
}
.input-login:hover {
  border: 1px solid #efc81a;
}
.card-name {
  text-align: center;
  text-decoration: none;
}
.col-bg {
  height: 870px;
  width: 878px;
  left: 927px;
  top: 250px;
  border-radius: 0px;
  background-color: #2e266f;
  z-index: 1;
}

.bg-1 {
  width: 40vw !important;
  z-index: 2;
}
.form-jumbroton {
  /* padding: 40%; */
  font-family: "AirBd";
  color: #2e266f;
  display: flex !important;
  flex-direction: column !important;
  /* align-self: baseline; */
  width: 100vw !important;
  padding-top: 30vh;
  overflow: hidden;
}
.font-card {
  font-size: 72px !important;
  background-color: #fff5ec !important;
}
.font-card-white {
  font-size: 72px !important;
}
.search-form {
  font-family: "AirBk";
  font-size: 18px !important;
  width: 100% !important;
  height: 8vh !important;
  margin-bottom: 2vh;
}
.title-size {
  font-size: 50px !important;
  line-height: 50px !important;
}
.contaner-add-recipe {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "AirBk";
  color: #666666;
}
.form-photo {
  position: relative;
  background-color: #f6f5f4;
  height: 380px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.form-file {
  width: 20vw !important;
  height: 30vh !important;
  position: absolute;
  padding: 0% !important;
  justify-content: center;
  flex-direction: colum;
  visibility: hidden;
}

.form-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30 vh !important;
}
.icon-images {
  font-size: 48px;
}
.button-post {
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  align-items: center;
  border: none;
  width: 20vw;
  padding: 14px 4px !important;
  background-color: #efc81a !important;
}
.col-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10vh;
}
.form-video {
  position: relative;
  background-color: #f6f5f4;
  height: 30px;
  border-radius: 20px;
}
.label-video {
  flex-direction: column;
}
.container-auth {
  position: relative;
  margin: 0 !important;
  display: flex;
  padding: 0 !important;
  z-index: -1;
}
.bg-custom {
  height: 180vh;
  width: 50vw !important;
  margin: 0 !important;
  padding: 0 !important;
  background: url("../style/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-cooke {
  justify-content: center;
  text-align: center;
  width: 60px;
  height: 80px;
  margin-top: 30vh;
}
.img-cooke-xl {
  justify-content: center;
  text-align: center;
  width: 70px;
  height: 90px;
  margin-top: 40vh;
}
.link-down {
  text-decoration: none;
}
.link-down:hover {
  font-size: 16px;
  text-decoration: underline;
}
.custom-table {
  padding: 1% !important;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  border-radius: 10px !important;
}
.navbarhome {
  background-color: #2e266f !important;
}
.card-recipe {
  overflow: hidden;
  margin: 1%;
}
.image-responsive {
  height: 37vh;
  border-radius: 10px;
}
